examples/All flows.json
[{"id":"7b9b165a.22b828","type":"tab","label":"Sample flow","disabled":false,"info":""},{"id":"1b887b02.dcb935","type":"tab","label":"Weather information","disabled":false,"info":""},{"id":"9bb752d1.6afdc","type":"tab","label":"Campaign flow","disabled":false,"info":""},{"id":"8cbd7e3e.997a1","type":"tts","z":"","name":"Campaign question","text":"Hello {{name}}. Thank you for using our services. This is the satisfaction survey. Please rate you satisfaction level from 1 to 6 where 1 means that you not satisfied and 6 means that you are fully satisfied.","language":"en-US","voice":"alice"},{"id":"aea4f462.26cd58","type":"tts","z":"","name":"Campaign greetings","text":"Thank you for your answer. Have a nice day.","language":"en-US","voice":"alice"},{"id":"3fc3754f.17a8ba","type":"account","z":"","name":"twilio"},{"id":"1b035223.d7f8ee","type":"tts","z":"","name":"Welcome message","text":"Welcome to the Automat Berlin sample flow","language":"en-US","voice":"alice"},{"id":"d38715ee.babaa8","type":"tts","z":"","name":"Gather message","text":"For Automat Berlin sales press 1, for Automat Berlin engineering press 2","language":"en-US","voice":"alice"},{"id":"3e127795.c399e8","type":"tts","z":"","name":"Weather message","text":"Welcome to the weather information service. Please provide postal code of the city in Germany to hear the information about current temperature in this city.","language":"en-US","voice":"alice"},{"id":"ce8eb3d6.5acc5","type":"weather-provider","z":"","provider":"openweathermap","name":"test account"},{"id":"d2db1e44.bc69d","type":"tts","z":"","name":"Current weather","text":"Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.","language":"en-US","voice":"alice"},{"id":"f465d170.f70758","type":"mongodb3","z":"","uri":"${MONGODB_URI}","name":"","options":"","parallelism":"-1"},{"id":"bc8ac9bb.e975b8","type":"function","z":"9bb752d1.6afdc","name":"prepare request","func":"var host = flow.get(\"host\");\nvar accountSid = flow.get(\"accountSid\");\nvar authToken = flow.get(\"authToken\");\nvar fromNumber = flow.get(\"fromNumber\");\n\nvar campaign = flow.get(\"campaign\");\nvar toNumber = msg.payload.Phone;\ncampaign[toNumber] = msg.payload;\n\nmsg.url = \"https://api.twilio.com/2010-04-01/Accounts/\" + accountSid + \"/Calls.json\";\nmsg.method = \"POST\";\nmsg.payload = {};\nmsg.payload[\"Url\"] = host + \"/campaign\";\nmsg.payload[\"To\"] = toNumber;\nmsg.payload[\"From\"] = fromNumber;\nmsg.payload[\"StatusCallback\"] = host + \"/statusCallback\";\nmsg.payload[\"StatusCallbackEvent\"] = \"completed\";\nmsg.payload[\"StatusCallbackMethod\"] = \"POST\";\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Basic \" + Buffer.from(accountSid + \":\" + authToken).toString('base64');\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["ddab3df5.4fbf1"]]},{"id":"ddab3df5.4fbf1","type":"http request","z":"9bb752d1.6afdc","name":"make a call","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":180,"wires":[["5e2bec7e.b62534"]]},{"id":"5e2bec7e.b62534","type":"debug","z":"9bb752d1.6afdc","name":"log call resource","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":180,"wires":[]},{"id":"29dfa755.948e68","type":"csv","z":"9bb752d1.6afdc","name":"parse CSV","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":570,"y":180,"wires":[["bc8ac9bb.e975b8"]]},{"id":"fcd32d16.51e86","type":"inject","z":"9bb752d1.6afdc","name":"START CAMPAIGN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["a4b5a2eb.1b4dd"]]},{"id":"a8ec5c12.4c645","type":"inject","z":"9bb752d1.6afdc","name":"REPORT","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["3f1a488e.4900b8"]]},{"id":"3f1a488e.4900b8","type":"function","z":"9bb752d1.6afdc","name":"prepare data","func":"var campaign = flow.get(\"campaign\");\nvar payload = Object.keys(campaign).map(function (to) { return campaign[to]; });\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["553d6986.413068","bd94b699.e02848","e8594113.8217a"]]},{"id":"553d6986.413068","type":"csv","z":"9bb752d1.6afdc","name":"create CSV file","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Phone,Name,CallStatus,Input","skip":"0","strings":true,"x":460,"y":300,"wires":[["9ad681e2.48555"]]},{"id":"9ad681e2.48555","type":"file","z":"9bb752d1.6afdc","name":"","filename":"report.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":640,"y":300,"wires":[["6b8c9149.62b16"]]},{"id":"6b8c9149.62b16","type":"debug","z":"9bb752d1.6afdc","name":"log report content","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":300,"wires":[]},{"id":"bd94b699.e02848","type":"template","z":"9bb752d1.6afdc","name":"create HTML file","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\" />\n    <title>Campaign Report</title>\n    <link rel=\"stylesheet\" href=\"style.css\" />\n</head>\n<body>\n    <h1>Campaign Report</h1>\n    <table>\n        <tr>\n            <th>Phone</th>\n            <th>Name</th>\n            <th>Call Status</th>\n            <th>Input</th>\n        </tr>\n        {{#payload}}\n        <tr>\n            <td>{{Phone}}</td>\n            <td>{{Name}}</td>\n            <td>{{CallStatus}}</td>\n            <td>{{Input}}</td>\n        </tr>\n        {{/payload}}\n    </table>\n</body>\n</html>","output":"str","x":460,"y":340,"wires":[["b8c426de.001028"]]},{"id":"b8c426de.001028","type":"file","z":"9bb752d1.6afdc","name":"","filename":"report.html","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":650,"y":340,"wires":[["6b8c9149.62b16"]]},{"id":"16625227.4f1f6e","type":"mysql","z":"9bb752d1.6afdc","mydb":"","name":"MySQL database","x":970,"y":440,"wires":[["6b8c9149.62b16"]]},{"id":"9520e877.7876c8","type":"inject","z":"9bb752d1.6afdc","name":"PREPARE CAMPAIGN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["da1498b2.d2b228"]]},{"id":"da1498b2.d2b228","type":"function","z":"9bb752d1.6afdc","name":"SET ENV VARS!","func":"// EDIT FROM >>>HERE<<<\n\n// define environment variables\nvar host = \"<NODE-RED BASE URL>\";\nvar accountSid = \"<TWILIO ACCOUNT SID>\";\nvar authToken = \"<TWILIO AUTH TOKEN>\";\nvar fromNumber = \"<TWILIO NUMBER>\";\n\n// TO >>>HERE<<<\n\n// set environment variables\nflow.set(\"host\", host);\nflow.set(\"accountSid\", accountSid);\nflow.set(\"authToken\", authToken);\nflow.set(\"fromNumber\", fromNumber);\n\n// clear state variables\nflow.set(\"campaign\", {});\n","outputs":0,"noerr":0,"x":360,"y":100,"wires":[]},{"id":"cd8524b0.468b68","type":"template","z":"9bb752d1.6afdc","name":"prepare SQL statements","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO reports (phone, name, call_status, input)\nVALUES\n('{{payload.Phone}}', '{{payload.Name}}', '{{payload.CallStatus}}', '{{payload.Input}}');\n","output":"str","x":610,"y":440,"wires":[["4d78dc39.541674"]]},{"id":"9cad1796.876388","type":"split","z":"9bb752d1.6afdc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":440,"wires":[["cd8524b0.468b68"]]},{"id":"4d78dc39.541674","type":"function","z":"9bb752d1.6afdc","name":"set query","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["16625227.4f1f6e"]]},{"id":"a4b5a2eb.1b4dd","type":"template","z":"9bb752d1.6afdc","name":"CSV contents","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Phone,Name\n<NUMBER1>,Bill\n<NUMBER2>,Tom","output":"str","x":380,"y":180,"wires":[["29dfa755.948e68"]]},{"id":"78863f23.1de43","type":"http request","z":"9bb752d1.6afdc","name":"get CSV file from URL","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":220,"wires":[["29dfa755.948e68"]]},{"id":"7957734b.4fa98c","type":"http in","z":"9bb752d1.6afdc","name":"","url":"/report.csv","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["72b8f0e7.60c"]]},{"id":"72b8f0e7.60c","type":"file in","z":"9bb752d1.6afdc","name":"","filename":"report.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":520,"wires":[["b649b57b.961cb8"]]},{"id":"b649b57b.961cb8","type":"http response","z":"9bb752d1.6afdc","name":"","statusCode":"200","headers":{"Content-Type":"text/csv; charset=UTF-8"},"x":460,"y":520,"wires":[]},{"id":"c6fa2c04.4f1d6","type":"http in","z":"9bb752d1.6afdc","name":"","url":"/report.html","method":"get","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["a5bf19aa.73b258"]]},{"id":"a5bf19aa.73b258","type":"file in","z":"9bb752d1.6afdc","name":"","filename":"report.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":580,"wires":[["ce26278d.4e3448"]]},{"id":"ce26278d.4e3448","type":"http response","z":"9bb752d1.6afdc","name":"","statusCode":"200","headers":{"Content-Type":"text/html; charset=UTF-8"},"x":460,"y":580,"wires":[]},{"id":"649d2ba5.9aa2d4","type":"comment","z":"9bb752d1.6afdc","name":"Setup instructions","info":"### MongoDB database (default)\n\nMongoDB database is provided out-of-the-box as mLab MongoDB add-on on Heroku (https://elements.heroku.com/addons/mongolab).\n\nThere is no configuration needed unless you would like to change something.\n\nYou can browse MongoDB collections from your Heroku account via browser or by connecting to the database.\n\n### MySQL database (skip if not needed)\n\nBefore using the flow prepare MySQL database if you are going to use it for storing the report. \nOn Heroku you can use ClearDB add-on (https://elements.heroku.com/addons/cleardb). Remember to install it before using the flow to not lose your configuration after dyno is restarted.\n\nCreate empty database using following SQL statement:\n\n```\ncreate table reports (\n   id INT NOT NULL AUTO_INCREMENT,\n   phone VARCHAR(100) NOT NULL,\n   name VARCHAR(100) NOT NULL,\n   call_status VARCHAR(100) NOT NULL,\n   input VARCHAR(100) NOT NULL,\n   PRIMARY KEY (id)\n);\n```\n\nSet database connection details in `MySQL database` node and connect it to the `prepare data` node.\n\n### Twilio configuration\n\nSet environment variables in `SET ENV VARS!` node.\n\nThen, click `PREPARE CAMPAIGN` to export variables to the flow.\n\n### CSV data\n\nBefore staring a campaign, connect `START CAMPAIGN` node with:\n - `CSV contents` template node if you want to provide data inside,\n - `get CSV file from URL` http request node if you want to get data from external URL.\n\nFor `CSV contents` please update template with your test numbers.\n\n### Running a campaign\n\nTo run a campaign click the button of `START CAMPAIGN` node.\n\n### Generating reports\n\nGenerated reports can be found at URLs relative to the host of your deployment:\n - `/report.csv`\n - `/report.html`\nand in MySQL database in `reports` table (if it was configured).\n\nYou can also check the output logged in Debug window on the right side.","x":110,"y":40,"wires":[]},{"id":"7a97b164.ac8e","type":"hangup-call","z":"7b9b165a.22b828","name":"","account":"3fc3754f.17a8ba","x":1290,"y":140,"wires":[]},{"id":"22d53318.68b0dc","type":"webhook","z":"7b9b165a.22b828","name":"","url":"/twilio","x":140,"y":140,"wires":[["d8d9e52b.792be8"]]},{"id":"e76f4f7e.7452f","type":"dial","z":"7b9b165a.22b828","name":"dial sales","numbers":[{"number":""}],"statusCallback":true,"outputs":1,"x":800,"y":100,"wires":[["c3b2f60c.4e1e08"]]},{"id":"c3b2f60c.4e1e08","type":"switch","z":"7b9b165a.22b828","name":"","property":"payload.CallStatus","propertyType":"msg","rules":[{"t":"eq","v":"in-progress","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":140,"wires":[["8ec23754.b076b8"]]},{"id":"8ec23754.b076b8","type":"delay","z":"7b9b165a.22b828","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":140,"wires":[["7a97b164.ac8e"]]},{"id":"d8d9e52b.792be8","type":"say","z":"7b9b165a.22b828","name":"welcome","tts":"1b035223.d7f8ee","output":"next","outputs":1,"x":320,"y":140,"wires":[["7a780a59.4d6e24"]]},{"id":"7a780a59.4d6e24","type":"gather","z":"7b9b165a.22b828","name":"","numDigits":"1","timeout":"5","sound":"tts","soundUrl":"","tts":"d38715ee.babaa8","x":470,"y":140,"wires":[["593781f7.d3481"]]},{"id":"593781f7.d3481","type":"switch","z":"7b9b165a.22b828","name":"","property":"payload.Digits","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":140,"wires":[["e76f4f7e.7452f"],["952a616d.36cc8"]]},{"id":"952a616d.36cc8","type":"dial","z":"7b9b165a.22b828","name":"dial engineering","numbers":[{"number":""}],"statusCallback":true,"outputs":1,"x":800,"y":180,"wires":[["c3b2f60c.4e1e08"]]},{"id":"d303223e.6a45f","type":"comment","z":"7b9b165a.22b828","name":"Setup instructions","info":"Complete following steps before using sample flow.\n\n * Set Twilio Account SID and Auth token in account configuration in `hangup-call` node.\n * Set phone number in `dial sales` node.\n * Set phone number in `dial engineering` node.\n","x":150,"y":60,"wires":[]},{"id":"5b5eac8e.babf54","type":"comment","z":"1b887b02.dcb935","name":"Setup instructions","info":"Complete following steps before using weather flow.\n\n * Create account at https://openweathermap.org and generate the API key.\n * Set API key in `prepare request` function nodes.\n * Set API key in `Weather provider` configuration of `current-weather` node.\n * Go to your Twilio account and configure chosen webhook.\n\nTo test the flow use existing postal code in Germany, e.g. 12524 for Berlin.","x":150,"y":60,"wires":[]},{"id":"24c7095b.613776","type":"webhook","z":"1b887b02.dcb935","name":"","url":"/weatherVoiceComplex","x":200,"y":140,"wires":[["ec108f27.2619d"]]},{"id":"ec108f27.2619d","type":"gather","z":"1b887b02.dcb935","name":"gather postal code","numDigits":"5","timeout":"5","sound":"tts","soundUrl":"","tts":"3e127795.c399e8","x":450,"y":140,"wires":[["b96d12e3.bc748"]]},{"id":"b96d12e3.bc748","type":"function","z":"1b887b02.dcb935","name":"prepare request","func":"var postalCode = msg.payload.Digits;\nvar apiKey = \"<API-KEY>\";\nvar url = \"https://api.openweathermap.org/data/2.5/weather?zip=\" + postalCode + \",de&units=metric&APPID=\" + apiKey;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["b1e8e5c9.78bc48"]]},{"id":"b1e8e5c9.78bc48","type":"http request","z":"1b887b02.dcb935","name":"make request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":140,"wires":[["440f9c99.d0d014"]]},{"id":"440f9c99.d0d014","type":"function","z":"1b887b02.dcb935","name":"process request","func":"var temp = msg.payload.main.temp;\nvar cityName = msg.payload.name;\nmsg.payload.temp = Math.round(temp);\nmsg.payload.cityName = cityName;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":140,"wires":[["12a221cf.77a2ce"]]},{"id":"12a221cf.77a2ce","type":"template","z":"1b887b02.dcb935","name":"<Say> template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"alice\" language=\"en-US\">Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.</Say>\n</Response>","output":"str","x":1180,"y":140,"wires":[["27e69ee3.6e2b22"]]},{"id":"27e69ee3.6e2b22","type":"http response","z":"1b887b02.dcb935","name":"send response","statusCode":"200","headers":{},"x":1400,"y":140,"wires":[]},{"id":"a3fefd2d.d0b25","type":"webhook","z":"1b887b02.dcb935","name":"","url":"/weatherSMSComplex","x":190,"y":200,"wires":[["e42094c0.8d49b8"]]},{"id":"e42094c0.8d49b8","type":"function","z":"1b887b02.dcb935","name":"prepare request","func":"var postalCode = msg.payload.Body;\nvar apiKey = \"<API-KEY>\";\nvar url = \"https://api.openweathermap.org/data/2.5/weather?zip=\" + postalCode + \",de&units=metric&APPID=\" + apiKey;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["b38efbe8.edd4a8"]]},{"id":"b38efbe8.edd4a8","type":"http request","z":"1b887b02.dcb935","name":"make request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":200,"wires":[["9eedeb92.e87098"]]},{"id":"9eedeb92.e87098","type":"function","z":"1b887b02.dcb935","name":"process request","func":"var temp = msg.payload.main.temp;\nvar cityName = msg.payload.name;\nmsg.payload.temp = Math.round(temp);\nmsg.payload.cityName = cityName;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":200,"wires":[["288dde0c.b523e2"]]},{"id":"288dde0c.b523e2","type":"template","z":"1b887b02.dcb935","name":"<Message> template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Message>\n        <Body>Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.</Body>\n    </Message>\n</Response>","output":"str","x":1200,"y":200,"wires":[["bd894a18.14c018"]]},{"id":"bd894a18.14c018","type":"http response","z":"1b887b02.dcb935","name":"send response","statusCode":"200","headers":{},"x":1400,"y":200,"wires":[]},{"id":"650967e0.b66938","type":"webhook","z":"1b887b02.dcb935","name":"","url":"/weatherVoiceSimple","x":190,"y":320,"wires":[["43d952e2.1c961c"]]},{"id":"56601b1e.6a5544","type":"webhook","z":"1b887b02.dcb935","name":"","url":"/weatherSMSSimple","x":190,"y":380,"wires":[["79ca559d.c27cec"]]},{"id":"43d952e2.1c961c","type":"gather","z":"1b887b02.dcb935","name":"gather postal code","numDigits":"5","timeout":"5","sound":"tts","soundUrl":"","tts":"3e127795.c399e8","x":450,"y":320,"wires":[["3a4b0860.aa4bc8"]]},{"id":"3a4b0860.aa4bc8","type":"current-weather","z":"1b887b02.dcb935","name":"","weatherProvider":"ce8eb3d6.5acc5","property":"payload.Digits","x":640,"y":320,"wires":[["8d1f25e9.8d67f8"]]},{"id":"8d1f25e9.8d67f8","type":"say","z":"1b887b02.dcb935","name":"","tts":"d2db1e44.bc69d","output":"off","outputs":0,"x":1150,"y":320,"wires":[]},{"id":"79ca559d.c27cec","type":"current-weather","z":"1b887b02.dcb935","name":"","weatherProvider":"ce8eb3d6.5acc5","property":"payload.Body","x":640,"y":380,"wires":[["ae0460b5.f4d1"]]},{"id":"ae0460b5.f4d1","type":"message","z":"1b887b02.dcb935","text":"Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.","from":"","to":"","next":"","statusCallback":"","outputs":0,"name":"","x":1160,"y":380,"wires":[]},{"id":"926f5fea.8fb87","type":"mongodb3 in","z":"9bb752d1.6afdc","service":"_ext_","configNode":"f465d170.f70758","name":"MongoDB","collection":"reports","operation":"insertOne","x":590,"y":380,"wires":[["6b8c9149.62b16"]]},{"id":"e8594113.8217a","type":"split","z":"9bb752d1.6afdc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":380,"wires":[["926f5fea.8fb87"]]},{"id":"6d491171.1e9a","type":"webhook","z":"9bb752d1.6afdc","name":"","url":"/campaign","x":120,"y":760,"wires":[["4e85d797.859fd8"]]},{"id":"e8a696f2.911de8","type":"gather","z":"9bb752d1.6afdc","name":"","numDigits":"1","timeout":"5","sound":"tts","soundUrl":"","tts":"8cbd7e3e.997a1","x":570,"y":760,"wires":[["d13225dd.55a628"]]},{"id":"4e85d797.859fd8","type":"function","z":"9bb752d1.6afdc","name":"personalize message","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar name = campaign[phone].Name;\nmsg.name = name;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":760,"wires":[["e8a696f2.911de8"]]},{"id":"712481ae.9e031","type":"say","z":"9bb752d1.6afdc","name":"greetings","tts":"aea4f462.26cd58","output":"off","outputs":0,"x":900,"y":760,"wires":[]},{"id":"d13225dd.55a628","type":"function","z":"9bb752d1.6afdc","name":"store input","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar input = msg.payload.Digits;\ncampaign[phone].Input = input;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":760,"wires":[["712481ae.9e031"]]},{"id":"fb57681.f28e598","type":"webhook","z":"9bb752d1.6afdc","name":"","url":"/statusCallback","x":130,"y":700,"wires":[["9a3a109f.9ceee","e621a164.1c1eb"]]},{"id":"9a3a109f.9ceee","type":"function","z":"9bb752d1.6afdc","name":"record status callback","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar callStatus = msg.payload.CallStatus;\ncampaign[phone].CallStatus = callStatus;\n","outputs":0,"noerr":0,"x":380,"y":700,"wires":[]},{"id":"e621a164.1c1eb","type":"debug","z":"9bb752d1.6afdc","name":"log call status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":660,"wires":[]}]