examples/All flows.json
[{"id":"46ef91ab.33d98","type":"tab","label":"Sample flow","disabled":false,"info":""},{"id":"690382bf.18b75c","type":"tab","label":"Weather information","disabled":false,"info":""},{"id":"dea16b15.3c1f48","type":"tts","z":"","name":"Weather message","text":"Welcome to the weather information service. Please provide postal code of the city in Germany to hear the information about current temperature in this city.","language":"en-US","voice":"alice"},{"id":"730d4b33.619464","type":"weather-provider","z":"","provider":"openweathermap","name":"test account"},{"id":"7ad9037b.fa1ffc","type":"tts","z":"","name":"Current weather","text":"Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.","language":"en-US","voice":"alice"},{"id":"b01c9222.af217","type":"account","z":"","name":"twilio"},{"id":"cc21e675.d91b68","type":"tts","z":"","name":"Welcome message","text":"Welcome to the Automat Berlin sample flow","language":"en-US","voice":"alice"},{"id":"ba1e298c.8ca9b8","type":"tts","z":"","name":"Gather message","text":"For Automat Berlin sales press 1, for Automat Berlin engineering press 2","language":"en-US","voice":"alice"},{"id":"7ab1f3ed.650d7c","type":"comment","z":"690382bf.18b75c","name":"Setup instructions","info":"Complete following steps before using weather flow.\n\n * Set API key in `prepare request` function nodes.\n * Set API key in `weather-provider` configuration of `current-weather` node.\n","x":150,"y":60,"wires":[]},{"id":"83d2ff16.cb382","type":"webhook","z":"690382bf.18b75c","name":"","url":"/weatherVoiceComplex","x":200,"y":140,"wires":[["b135bda7.a1baf"]]},{"id":"b135bda7.a1baf","type":"gather","z":"690382bf.18b75c","name":"gather postal code","numDigits":"5","timeout":"5","sound":"tts","soundUrl":"","tts":"dea16b15.3c1f48","x":450,"y":140,"wires":[["25adaa2f.7035d6"]]},{"id":"25adaa2f.7035d6","type":"function","z":"690382bf.18b75c","name":"prepare request","func":"var postalCode = msg.payload.Digits;\nvar apiKey = \"<API-KEY>\";\nvar url = \"https://api.openweathermap.org/data/2.5/weather?zip=\" + postalCode + \",de&units=metric&APPID=\" + apiKey;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["8f979236.90086"]]},{"id":"8f979236.90086","type":"http request","z":"690382bf.18b75c","name":"make request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":140,"wires":[["cc2ca8cc.615f28"]]},{"id":"cc2ca8cc.615f28","type":"function","z":"690382bf.18b75c","name":"process request","func":"var temp = msg.payload.main.temp;\nvar cityName = msg.payload.name;\nmsg.payload.temp = Math.round(temp);\nmsg.payload.cityName = cityName;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":140,"wires":[["dbc1c131.19f28"]]},{"id":"dbc1c131.19f28","type":"template","z":"690382bf.18b75c","name":"<Say> template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Say voice=\"alice\" language=\"en-US\">Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.</Say>\n</Response>","output":"str","x":1180,"y":140,"wires":[["6e9e4af3.77b344"]]},{"id":"6e9e4af3.77b344","type":"http response","z":"690382bf.18b75c","name":"send response","statusCode":"200","headers":{},"x":1400,"y":140,"wires":[]},{"id":"d031d8bd.40e938","type":"webhook","z":"690382bf.18b75c","name":"","url":"/weatherSMSComplex","x":190,"y":200,"wires":[["d7d5567c.3fff08"]]},{"id":"d7d5567c.3fff08","type":"function","z":"690382bf.18b75c","name":"prepare request","func":"var postalCode = msg.payload.Body;\nvar apiKey = \"<API-KEY>\";\nvar url = \"https://api.openweathermap.org/data/2.5/weather?zip=\" + postalCode + \",de&units=metric&APPID=\" + apiKey;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["6ab0245d.8d3e3c"]]},{"id":"6ab0245d.8d3e3c","type":"http request","z":"690382bf.18b75c","name":"make request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":200,"wires":[["50757255.b5aefc"]]},{"id":"50757255.b5aefc","type":"function","z":"690382bf.18b75c","name":"process request","func":"var temp = msg.payload.main.temp;\nvar cityName = msg.payload.name;\nmsg.payload.temp = Math.round(temp);\nmsg.payload.cityName = cityName;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":200,"wires":[["afba3866.037c78"]]},{"id":"afba3866.037c78","type":"template","z":"690382bf.18b75c","name":"<Message> template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n    <Message>\n        <Body>Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.</Body>\n    </Message>\n</Response>","output":"str","x":1200,"y":200,"wires":[["3ca05206.671f2e"]]},{"id":"3ca05206.671f2e","type":"http response","z":"690382bf.18b75c","name":"send response","statusCode":"200","headers":{},"x":1400,"y":200,"wires":[]},{"id":"9d1bded9.dbec4","type":"webhook","z":"690382bf.18b75c","name":"","url":"/weatherVoiceSimple","x":190,"y":320,"wires":[["350ea151.ce550e"]]},{"id":"948093.83790f7","type":"webhook","z":"690382bf.18b75c","name":"","url":"/weatherSMSSimple","x":190,"y":380,"wires":[["f8512588.bb88d8"]]},{"id":"350ea151.ce550e","type":"gather","z":"690382bf.18b75c","name":"gather postal code","numDigits":"5","timeout":"5","sound":"tts","soundUrl":"","tts":"dea16b15.3c1f48","x":450,"y":320,"wires":[["40f1e44f.fceafc"]]},{"id":"40f1e44f.fceafc","type":"current-weather","z":"690382bf.18b75c","name":"","weatherProvider":"730d4b33.619464","property":"payload.Digits","x":640,"y":320,"wires":[["7cf932dd.5594cc"]]},{"id":"7cf932dd.5594cc","type":"say","z":"690382bf.18b75c","name":"","tts":"7ad9037b.fa1ffc","output":"off","outputs":0,"x":1150,"y":320,"wires":[]},{"id":"f8512588.bb88d8","type":"current-weather","z":"690382bf.18b75c","name":"","weatherProvider":"730d4b33.619464","property":"payload.Body","x":640,"y":380,"wires":[["8af0d41d.261168"]]},{"id":"8af0d41d.261168","type":"message","z":"690382bf.18b75c","text":"Today there is going to be {{payload.temp}} degree(s) Celsius in {{payload.cityName}}.","from":"","to":"","next":"","statusCallback":"","outputs":0,"name":"","x":1160,"y":380,"wires":[]},{"id":"36633e81.833152","type":"hangup-call","z":"46ef91ab.33d98","name":"","account":"b01c9222.af217","x":1290,"y":140,"wires":[]},{"id":"dd6a10a2.51192","type":"webhook","z":"46ef91ab.33d98","name":"","url":"/twilio","x":140,"y":140,"wires":[["d0eb4269.24b1"]]},{"id":"ef73f609.05e738","type":"dial","z":"46ef91ab.33d98","name":"dial sales","numbers":[{"number":""}],"statusCallback":true,"outputs":1,"x":800,"y":100,"wires":[["214dca27.871da6"]]},{"id":"214dca27.871da6","type":"switch","z":"46ef91ab.33d98","name":"","property":"payload.CallStatus","propertyType":"msg","rules":[{"t":"eq","v":"in-progress","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":140,"wires":[["c5dc3417.ff0218"]]},{"id":"c5dc3417.ff0218","type":"delay","z":"46ef91ab.33d98","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":140,"wires":[["36633e81.833152"]]},{"id":"d0eb4269.24b1","type":"say","z":"46ef91ab.33d98","name":"welcome","tts":"cc21e675.d91b68","output":"next","outputs":1,"x":320,"y":140,"wires":[["ca3a01be.50c0d"]]},{"id":"ca3a01be.50c0d","type":"gather","z":"46ef91ab.33d98","name":"","numDigits":"1","timeout":"5","sound":"tts","soundUrl":"","tts":"ba1e298c.8ca9b8","x":470,"y":140,"wires":[["78c41ec4.b1dc7"]]},{"id":"78c41ec4.b1dc7","type":"switch","z":"46ef91ab.33d98","name":"","property":"payload.Digits","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":140,"wires":[["ef73f609.05e738"],["a4466e2d.cc09f"]]},{"id":"a4466e2d.cc09f","type":"dial","z":"46ef91ab.33d98","name":"dial engineering","numbers":[{"number":""}],"statusCallback":true,"outputs":1,"x":800,"y":180,"wires":[["214dca27.871da6"]]},{"id":"692d4b6b.f57e84","type":"comment","z":"46ef91ab.33d98","name":"Setup instructions","info":"Complete following steps before using sample flow.\n\n * Set Twilio Account SID and Auth token in account configuration in `hangup-call` node.\n * Set phone number in `dial sales` node.\n * Set phone number in `dial engineering` node.\n","x":150,"y":60,"wires":[]}]