examples/Campaign flow.json
[{"id":"12f37c72.bfcc34","type":"tab","label":"Campaign flow","disabled":false,"info":""},{"id":"171cc2b.e924d3d","type":"function","z":"12f37c72.bfcc34","name":"prepare request","func":"var host = flow.get(\"host\");\nvar accountSid = flow.get(\"accountSid\");\nvar authToken = flow.get(\"authToken\");\nvar fromNumber = flow.get(\"fromNumber\");\n\nvar campaign = flow.get(\"campaign\");\ncampaign[msg.payload.Phone] = msg.payload;\n\nmsg.url = \"https://api.twilio.com/2010-04-01/Accounts/\" + accountSid + \"/Calls.json\";\nmsg.method = \"POST\";\nmsg.payload = {};\nmsg.payload[\"Url\"] = host + \"/campaign\";\nmsg.payload[\"Phone\"] = msg.payload.Phone;\nmsg.payload[\"From\"] = fromNumber;\nmsg.payload[\"StatusCallback\"] = host + \"/statusCallback\";\nmsg.payload[\"StatusCallbackEvent\"] = \"completed\";\nmsg.payload[\"StatusCallbackMethod\"] = \"POST\";\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Basic \" + btoa(accountSid + \":\" + authToken);\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["e96d04a5.906b98"]]},{"id":"e96d04a5.906b98","type":"http request","z":"12f37c72.bfcc34","name":"make a call","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":180,"wires":[["d3dd5cb.35950a"]]},{"id":"d3dd5cb.35950a","type":"debug","z":"12f37c72.bfcc34","name":"log response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":180,"wires":[]},{"id":"d93cdd4.794952","type":"csv","z":"12f37c72.bfcc34","name":"parse CSV","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":570,"y":180,"wires":[["171cc2b.e924d3d"]]},{"id":"bde0b57a.df79a8","type":"inject","z":"12f37c72.bfcc34","name":"START CAMPAIGN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["4cf904ee.74cfbc"]]},{"id":"9614da4d.39e108","type":"webhook","z":"12f37c72.bfcc34","name":"","url":"/campaign","x":120,"y":380,"wires":[["b9751418.34c0f8"]]},{"id":"24968c1f.a15754","type":"gather","z":"12f37c72.bfcc34","name":"","numDigits":"1","timeout":"5","sound":"tts","soundUrl":"","tts":"8cbd7e3e.997a1","x":570,"y":380,"wires":[["cbb7b7d7.eb07f8"]]},{"id":"b9751418.34c0f8","type":"function","z":"12f37c72.bfcc34","name":"personalize message","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar name = campaign[phone].Name;\nmsg.name = name;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["24968c1f.a15754"]]},{"id":"9919ec0a.5b5bc","type":"say","z":"12f37c72.bfcc34","name":"greetings","tts":"aea4f462.26cd58","output":"off","outputs":0,"x":900,"y":380,"wires":[]},{"id":"cbb7b7d7.eb07f8","type":"function","z":"12f37c72.bfcc34","name":"store input","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar input = msg.payload.Digits;\ncampaign[phone].Input = input;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["9919ec0a.5b5bc"]]},{"id":"83aacfa2.85cf6","type":"inject","z":"12f37c72.bfcc34","name":"REPORT","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":520,"wires":[["80abf191.ecafa"]]},{"id":"80abf191.ecafa","type":"function","z":"12f37c72.bfcc34","name":"prepare data","func":"var campaign = flow.get(\"campaign\");\nvar payload = Object.keys(campaign).map(function (to) { return campaign[to]; });\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":520,"wires":[["c0597586.f03aa8","15aae87c.93bb28","3c5737bb.4fa138"]]},{"id":"c0597586.f03aa8","type":"csv","z":"12f37c72.bfcc34","name":"create CSV file","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"To,Name,Call Status,Input","skip":"0","strings":true,"x":460,"y":460,"wires":[["b193a98.cc24558"]]},{"id":"b193a98.cc24558","type":"file","z":"12f37c72.bfcc34","name":"","filename":"report.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":640,"y":460,"wires":[["236775d1.2b574a"]]},{"id":"236775d1.2b574a","type":"debug","z":"12f37c72.bfcc34","name":"log output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":520,"wires":[]},{"id":"15aae87c.93bb28","type":"template","z":"12f37c72.bfcc34","name":"create HTML file","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\" />\n    <title>Campaign Report</title>\n    <link rel=\"stylesheet\" href=\"style.css\" />\n</head>\n<body>\n    <h1>Campaign Report</h1>\n    <table>\n        <tr>\n            <th>To</th>\n            <th>Name</th>\n            <th>Call Status</th>\n            <th>Input</th>\n        </tr>\n        {{#payload}}\n        <tr>\n            <td>{{To}}</td>\n            <td>{{Name}}</td>\n            <td>{{CallStatus}}</td>\n            <td>{{Input}}</td>\n        </tr>\n        {{/payload}}\n    </table>\n</body>\n</html>","output":"str","x":460,"y":520,"wires":[["e88f85bc.9b7758"]]},{"id":"e88f85bc.9b7758","type":"file","z":"12f37c72.bfcc34","name":"","filename":"report.html","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":650,"y":520,"wires":[["236775d1.2b574a"]]},{"id":"de4f4846.f66708","type":"mysql","z":"12f37c72.bfcc34","mydb":"","name":"MySQL database","x":650,"y":640,"wires":[["236775d1.2b574a"]]},{"id":"7fb3cc93.6680a4","type":"inject","z":"12f37c72.bfcc34","name":"PREPARE CAMPAIGN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["4f8b21dd.a060b"]]},{"id":"4f8b21dd.a060b","type":"function","z":"12f37c72.bfcc34","name":"SET ENV VARS!","func":"// EDIT FROM >>>HERE<<<\n\n// define environment variables\nvar host = \"<NODE-RED BASE URL>\";\nvar accountSid = \"<TWILIO ACCOUNT SID>\";\nvar authToken = \"<TWILIO AUTH TOKEN>\";\nvar authBasicToken \"<BASE64(accountSid:authToken)>\";\nvar fromNumber = \"<TWILIO NUMBER>\";\n\n// TO >>>HERE<<<\n\n// set environment variables\nflow.set(\"host\", host);\nflow.set(\"accountSid\", accountSid);\nflow.set(\"authToken\", authToken);\nflow.set(\"fromNumber\", fromNumber);\n\n// clear state variables\nflow.set(\"campaign\", {});\n","outputs":0,"noerr":4,"x":360,"y":100,"wires":[]},{"id":"c6afcb7d.2f5198","type":"webhook","z":"12f37c72.bfcc34","name":"","url":"/statusCallback","x":130,"y":320,"wires":[["c6f5e94f.f29618"]]},{"id":"c6f5e94f.f29618","type":"function","z":"12f37c72.bfcc34","name":"record status callback","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar callStatus = msg.payload.CallStatus;\ncampaign[phone].CallStatus = callStatus;\n","outputs":0,"noerr":0,"x":380,"y":320,"wires":[]},{"id":"27e75250.52f96e","type":"template","z":"12f37c72.bfcc34","name":"prepare SQL statements","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO reports (phone, name, call_status, input)\nVALUES\n('{{payload.To}}', '{{payload.Name}}', '{{payload.CallStatus}}', '{{payload.Input}}');\n","output":"str","x":630,"y":580,"wires":[["64eca3c.f6f565c"]]},{"id":"3c5737bb.4fa138","type":"split","z":"12f37c72.bfcc34","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":580,"wires":[["27e75250.52f96e"]]},{"id":"64eca3c.f6f565c","type":"function","z":"12f37c72.bfcc34","name":"set query","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["de4f4846.f66708"]]},{"id":"4cf904ee.74cfbc","type":"template","z":"12f37c72.bfcc34","name":"CSV contents","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"","output":"str","x":380,"y":180,"wires":[["d93cdd4.794952"]]},{"id":"298caac7.4cf606","type":"http request","z":"12f37c72.bfcc34","name":"get CSV file from URL","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":240,"wires":[["d93cdd4.794952"]]},{"id":"7b70ca3c.8f3c74","type":"http in","z":"12f37c72.bfcc34","name":"","url":"/report.csv","method":"get","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["932c2184.0da41"]]},{"id":"932c2184.0da41","type":"file in","z":"12f37c72.bfcc34","name":"","filename":"report.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":720,"wires":[["d03e4870.f57138"]]},{"id":"d03e4870.f57138","type":"http response","z":"12f37c72.bfcc34","name":"","statusCode":"200","headers":{"Content-Type":"text/csv; charset=UTF-8"},"x":460,"y":720,"wires":[]},{"id":"c487ad0f.6742d","type":"http in","z":"12f37c72.bfcc34","name":"","url":"/report.html","method":"get","upload":false,"swaggerDoc":"","x":100,"y":780,"wires":[["4810acba.0a76a4"]]},{"id":"4810acba.0a76a4","type":"file in","z":"12f37c72.bfcc34","name":"","filename":"report.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":780,"wires":[["3e38cf66.20d84"]]},{"id":"3e38cf66.20d84","type":"http response","z":"12f37c72.bfcc34","name":"","statusCode":"200","headers":{"Content-Type":"text/html; charset=UTF-8"},"x":460,"y":780,"wires":[]},{"id":"86a73be1.981f08","type":"comment","z":"12f37c72.bfcc34","name":"Setup instructions","info":"First, set environment variables in `SET ENV VARS!` node below.\n\nThen, click `PREPARE CAMPAIGN`.\n\nBefore staring a campaign, connect `START CAMPAIGN` node with:\n - `CSV contents` template node if you want to provide data inside,\n - `get CSV file from URL` http request node if you want to get data from external URL.\n\nBefore generating a report, set database connection details in `MySQL database` node or disconnect it from the flow.\n\nGenerated reports can be found at URLs relative to the host of your deployment:\n - `/report.csv`\n - `/report.html`\n","x":110,"y":40,"wires":[]},{"id":"8cbd7e3e.997a1","type":"tts","z":"","name":"Campaign question","text":"Hello {{name}}. Thank you for using our services. This is the satisfaction survey. Please rate you satisfaction level from 1 to 6 where 1 means that you not satisfied and 6 means that you are fully satisfied.","language":"en-US","voice":"alice"},{"id":"aea4f462.26cd58","type":"tts","z":"","name":"Campaign greetings","text":"Thank you for your answer. Have a nice day.","language":"en-US","voice":"alice"}]