examples/Campaign flow.json
[{"id":"9bb752d1.6afdc","type":"tab","label":"Campaign flow","disabled":false,"info":""},{"id":"bc8ac9bb.e975b8","type":"function","z":"9bb752d1.6afdc","name":"prepare request","func":"var host = flow.get(\"host\");\nvar accountSid = flow.get(\"accountSid\");\nvar authToken = flow.get(\"authToken\");\nvar fromNumber = flow.get(\"fromNumber\");\n\nvar campaign = flow.get(\"campaign\");\nvar toNumber = msg.payload.Phone;\ncampaign[toNumber] = msg.payload;\n\nmsg.url = \"https://api.twilio.com/2010-04-01/Accounts/\" + accountSid + \"/Calls.json\";\nmsg.method = \"POST\";\nmsg.payload = {};\nmsg.payload[\"Url\"] = host + \"/campaign\";\nmsg.payload[\"To\"] = toNumber;\nmsg.payload[\"From\"] = fromNumber;\nmsg.payload[\"StatusCallback\"] = host + \"/statusCallback\";\nmsg.payload[\"StatusCallbackEvent\"] = \"completed\";\nmsg.payload[\"StatusCallbackMethod\"] = \"POST\";\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = \"Basic \" + Buffer.from(accountSid + \":\" + authToken).toString('base64');\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["ddab3df5.4fbf1"]]},{"id":"ddab3df5.4fbf1","type":"http request","z":"9bb752d1.6afdc","name":"make a call","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":180,"wires":[["5e2bec7e.b62534"]]},{"id":"5e2bec7e.b62534","type":"debug","z":"9bb752d1.6afdc","name":"log call resource","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":180,"wires":[]},{"id":"29dfa755.948e68","type":"csv","z":"9bb752d1.6afdc","name":"parse CSV","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":570,"y":180,"wires":[["bc8ac9bb.e975b8"]]},{"id":"fcd32d16.51e86","type":"inject","z":"9bb752d1.6afdc","name":"START CAMPAIGN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["a4b5a2eb.1b4dd"]]},{"id":"a8ec5c12.4c645","type":"inject","z":"9bb752d1.6afdc","name":"REPORT","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["3f1a488e.4900b8"]]},{"id":"3f1a488e.4900b8","type":"function","z":"9bb752d1.6afdc","name":"prepare data","func":"var campaign = flow.get(\"campaign\");\nvar payload = Object.keys(campaign).map(function (to) { return campaign[to]; });\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["553d6986.413068","bd94b699.e02848","e8594113.8217a"]]},{"id":"553d6986.413068","type":"csv","z":"9bb752d1.6afdc","name":"create CSV file","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Phone,Name,CallStatus,Input","skip":"0","strings":true,"x":460,"y":300,"wires":[["9ad681e2.48555"]]},{"id":"9ad681e2.48555","type":"file","z":"9bb752d1.6afdc","name":"","filename":"report.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":640,"y":300,"wires":[["6b8c9149.62b16"]]},{"id":"6b8c9149.62b16","type":"debug","z":"9bb752d1.6afdc","name":"log report content","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":300,"wires":[]},{"id":"bd94b699.e02848","type":"template","z":"9bb752d1.6afdc","name":"create HTML file","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\" />\n    <title>Campaign Report</title>\n    <link rel=\"stylesheet\" href=\"style.css\" />\n</head>\n<body>\n    <h1>Campaign Report</h1>\n    <table>\n        <tr>\n            <th>Phone</th>\n            <th>Name</th>\n            <th>Call Status</th>\n            <th>Input</th>\n        </tr>\n        {{#payload}}\n        <tr>\n            <td>{{Phone}}</td>\n            <td>{{Name}}</td>\n            <td>{{CallStatus}}</td>\n            <td>{{Input}}</td>\n        </tr>\n        {{/payload}}\n    </table>\n</body>\n</html>","output":"str","x":460,"y":340,"wires":[["b8c426de.001028"]]},{"id":"b8c426de.001028","type":"file","z":"9bb752d1.6afdc","name":"","filename":"report.html","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":650,"y":340,"wires":[["6b8c9149.62b16"]]},{"id":"16625227.4f1f6e","type":"mysql","z":"9bb752d1.6afdc","mydb":"","name":"MySQL database","x":970,"y":440,"wires":[["6b8c9149.62b16"]]},{"id":"9520e877.7876c8","type":"inject","z":"9bb752d1.6afdc","name":"PREPARE CAMPAIGN","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["da1498b2.d2b228"]]},{"id":"da1498b2.d2b228","type":"function","z":"9bb752d1.6afdc","name":"SET ENV VARS!","func":"// EDIT FROM >>>HERE<<<\n\n// define environment variables\nvar host = \"<NODE-RED BASE URL>\";\nvar accountSid = \"<TWILIO ACCOUNT SID>\";\nvar authToken = \"<TWILIO AUTH TOKEN>\";\nvar fromNumber = \"<TWILIO NUMBER>\";\n\n// TO >>>HERE<<<\n\n// set environment variables\nflow.set(\"host\", host);\nflow.set(\"accountSid\", accountSid);\nflow.set(\"authToken\", authToken);\nflow.set(\"fromNumber\", fromNumber);\n\n// clear state variables\nflow.set(\"campaign\", {});\n","outputs":0,"noerr":0,"x":360,"y":100,"wires":[]},{"id":"cd8524b0.468b68","type":"template","z":"9bb752d1.6afdc","name":"prepare SQL statements","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO reports (phone, name, call_status, input)\nVALUES\n('{{payload.Phone}}', '{{payload.Name}}', '{{payload.CallStatus}}', '{{payload.Input}}');\n","output":"str","x":610,"y":440,"wires":[["4d78dc39.541674"]]},{"id":"9cad1796.876388","type":"split","z":"9bb752d1.6afdc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":440,"wires":[["cd8524b0.468b68"]]},{"id":"4d78dc39.541674","type":"function","z":"9bb752d1.6afdc","name":"set query","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["16625227.4f1f6e"]]},{"id":"a4b5a2eb.1b4dd","type":"template","z":"9bb752d1.6afdc","name":"CSV contents","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Phone,Name\n<NUMBER1>,Bill\n<NUMBER2>,Tom","output":"str","x":380,"y":180,"wires":[["29dfa755.948e68"]]},{"id":"78863f23.1de43","type":"http request","z":"9bb752d1.6afdc","name":"get CSV file from URL","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":220,"wires":[["29dfa755.948e68"]]},{"id":"7957734b.4fa98c","type":"http in","z":"9bb752d1.6afdc","name":"","url":"/report.csv","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["72b8f0e7.60c"]]},{"id":"72b8f0e7.60c","type":"file in","z":"9bb752d1.6afdc","name":"","filename":"report.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":520,"wires":[["b649b57b.961cb8"]]},{"id":"b649b57b.961cb8","type":"http response","z":"9bb752d1.6afdc","name":"","statusCode":"200","headers":{"Content-Type":"text/csv; charset=UTF-8"},"x":460,"y":520,"wires":[]},{"id":"c6fa2c04.4f1d6","type":"http in","z":"9bb752d1.6afdc","name":"","url":"/report.html","method":"get","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["a5bf19aa.73b258"]]},{"id":"a5bf19aa.73b258","type":"file in","z":"9bb752d1.6afdc","name":"","filename":"report.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":580,"wires":[["ce26278d.4e3448"]]},{"id":"ce26278d.4e3448","type":"http response","z":"9bb752d1.6afdc","name":"","statusCode":"200","headers":{"Content-Type":"text/html; charset=UTF-8"},"x":460,"y":580,"wires":[]},{"id":"649d2ba5.9aa2d4","type":"comment","z":"9bb752d1.6afdc","name":"Setup instructions","info":"### MongoDB database (default)\n\nMongoDB database is provided out-of-the-box as mLab MongoDB add-on on Heroku (https://elements.heroku.com/addons/mongolab).\n\nThere is no configuration needed unless you would like to change something.\n\nYou can browse MongoDB collections from your Heroku account via browser or by connecting to the database.\n\n### MySQL database (skip if not needed)\n\nBefore using the flow prepare MySQL database if you are going to use it for storing the report. \nOn Heroku you can use ClearDB add-on (https://elements.heroku.com/addons/cleardb). Remember to install it before using the flow to not lose your configuration after dyno is restarted.\n\nCreate empty database using following SQL statement:\n\n```\ncreate table reports (\n   id INT NOT NULL AUTO_INCREMENT,\n   phone VARCHAR(100) NOT NULL,\n   name VARCHAR(100) NOT NULL,\n   call_status VARCHAR(100) NOT NULL,\n   input VARCHAR(100) NOT NULL,\n   PRIMARY KEY (id)\n);\n```\n\nSet database connection details in `MySQL database` node and connect it to the `prepare data` node.\n\n### Twilio configuration\n\nSet environment variables in `SET ENV VARS!` node.\n\nThen, click `PREPARE CAMPAIGN` to export variables to the flow.\n\n### CSV data\n\nBefore staring a campaign, connect `START CAMPAIGN` node with:\n - `CSV contents` template node if you want to provide data inside,\n - `get CSV file from URL` http request node if you want to get data from external URL.\n\nFor `CSV contents` please update template with your test numbers.\n\n### Running a campaign\n\nTo run a campaign click the button of `START CAMPAIGN` node.\n\n### Generating reports\n\nGenerated reports can be found at URLs relative to the host of your deployment:\n - `/report.csv`\n - `/report.html`\nand in MySQL database in `reports` table (if it was configured).\n\nYou can also check the output logged in Debug window on the right side.","x":110,"y":40,"wires":[]},{"id":"926f5fea.8fb87","type":"mongodb3 in","z":"9bb752d1.6afdc","service":"_ext_","configNode":"f465d170.f70758","name":"MongoDB","collection":"reports","operation":"insertOne","x":590,"y":380,"wires":[["6b8c9149.62b16"]]},{"id":"e8594113.8217a","type":"split","z":"9bb752d1.6afdc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":380,"wires":[["926f5fea.8fb87"]]},{"id":"6d491171.1e9a","type":"webhook","z":"9bb752d1.6afdc","name":"","url":"/campaign","x":120,"y":760,"wires":[["4e85d797.859fd8"]]},{"id":"e8a696f2.911de8","type":"gather","z":"9bb752d1.6afdc","name":"","numDigits":"1","timeout":"5","sound":"tts","soundUrl":"","tts":"8cbd7e3e.997a1","x":570,"y":760,"wires":[["d13225dd.55a628"]]},{"id":"4e85d797.859fd8","type":"function","z":"9bb752d1.6afdc","name":"personalize message","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar name = campaign[phone].Name;\nmsg.name = name;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":760,"wires":[["e8a696f2.911de8"]]},{"id":"712481ae.9e031","type":"say","z":"9bb752d1.6afdc","name":"greetings","tts":"aea4f462.26cd58","output":"off","outputs":0,"x":900,"y":760,"wires":[]},{"id":"d13225dd.55a628","type":"function","z":"9bb752d1.6afdc","name":"store input","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar input = msg.payload.Digits;\ncampaign[phone].Input = input;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":760,"wires":[["712481ae.9e031"]]},{"id":"fb57681.f28e598","type":"webhook","z":"9bb752d1.6afdc","name":"","url":"/statusCallback","x":130,"y":700,"wires":[["9a3a109f.9ceee","e621a164.1c1eb"]]},{"id":"9a3a109f.9ceee","type":"function","z":"9bb752d1.6afdc","name":"record status callback","func":"var campaign = flow.get(\"campaign\");\nvar phone = msg.payload.To.substr(1);\nvar callStatus = msg.payload.CallStatus;\ncampaign[phone].CallStatus = callStatus;\n","outputs":0,"noerr":0,"x":380,"y":700,"wires":[]},{"id":"e621a164.1c1eb","type":"debug","z":"9bb752d1.6afdc","name":"log call status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":660,"wires":[]},{"id":"f465d170.f70758","type":"mongodb3","z":"","uri":"${MONGODB_URI}","name":"","options":"","parallelism":"-1"},{"id":"8cbd7e3e.997a1","type":"tts","z":"","name":"Campaign question","text":"Hello {{name}}. Thank you for using our services. This is the satisfaction survey. Please rate you satisfaction level from 1 to 6 where 1 means that you not satisfied and 6 means that you are fully satisfied.","language":"en-US","voice":"alice"},{"id":"aea4f462.26cd58","type":"tts","z":"","name":"Campaign greetings","text":"Thank you for your answer. Have a nice day.","language":"en-US","voice":"alice"}]