examples/Sample flow.json
[{"id":"690382bf.18b75c","type":"tab","label":"Sample flow","disabled":false,"info":""},{"id":"6e49869.70fa678","type":"hangup-call","z":"690382bf.18b75c","name":"","account":"de6e0797.ff96d8","x":1290,"y":140,"wires":[]},{"id":"44eb50da.84478","type":"webhook","z":"690382bf.18b75c","name":"","url":"/twilio","x":140,"y":140,"wires":[["8371483c.9b4808"]]},{"id":"4a55c8e.50c4f38","type":"dial","z":"690382bf.18b75c","name":"dial sales","numbers":[{"number":""}],"statusCallback":true,"outputs":1,"x":800,"y":100,"wires":[["c7fe770f.98b878"]]},{"id":"c7fe770f.98b878","type":"switch","z":"690382bf.18b75c","name":"","property":"payload.CallStatus","propertyType":"msg","rules":[{"t":"eq","v":"in-progress","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":140,"wires":[["5a802d34.5c4e24"]]},{"id":"5a802d34.5c4e24","type":"delay","z":"690382bf.18b75c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":140,"wires":[["6e49869.70fa678"]]},{"id":"8371483c.9b4808","type":"say","z":"690382bf.18b75c","name":"welcome","tts":"1c342b57.97b7c5","output":"next","outputs":1,"x":320,"y":140,"wires":[["8d8ceea9.6e42"]]},{"id":"8d8ceea9.6e42","type":"gather","z":"690382bf.18b75c","name":"","numDigits":"1","timeout":"5","sound":"tts","soundUrl":"","tts":"2eeb45da.33251a","x":470,"y":140,"wires":[["c138b59f.c8efe8"]]},{"id":"c138b59f.c8efe8","type":"switch","z":"690382bf.18b75c","name":"","property":"payload.Digits","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":140,"wires":[["4a55c8e.50c4f38"],["8f0b0f87.efdaa"]]},{"id":"8f0b0f87.efdaa","type":"dial","z":"690382bf.18b75c","name":"dial engineering","numbers":[{"number":""}],"statusCallback":true,"outputs":1,"x":800,"y":180,"wires":[["c7fe770f.98b878"]]},{"id":"7ab1f3ed.650d7c","type":"comment","z":"690382bf.18b75c","name":"Setup instructions","info":"Complete following steps before using sample flow.\n\n * Set Twilio Account SID and Auth token in account configuration in `hangup-call` node.\n * Set phone number in `dial sales` node.\n * Set phone number in `dial engineering` node.\n","x":150,"y":60,"wires":[]},{"id":"de6e0797.ff96d8","type":"account","z":"","name":"twilio"},{"id":"1c342b57.97b7c5","type":"tts","z":"","name":"Welcome message","text":"Welcome to the Automat Berlin sample flow","language":"en-US","voice":"alice"},{"id":"2eeb45da.33251a","type":"tts","z":"","name":"Gather message","text":"For Automat Berlin sales press 1, for Automat Berlin engineering press 2","language":"en-US","voice":"alice"}]